{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>
<section id="header-section">
    <header id="header">
        <div class="header-div">
            <h2>Turf Control</h2>
        </div>
        <nav id="nav-bar">
            <ul id="nav-menu">
                <li><a href="{% url 'market_page' %}">Market</a></li>
                <li><a href="">Warehouse</a></li>
                <li><a href="">Applications</a></li>
                <li><a href="">Reports</a></li>
            </ul>
        </nav>
    </header>
    <div class="user-status">
        <h4> Welcome {{ user.username }} </h4>
        <div class="user-status-right">
             <a href="">Profile</a>
            <a href="/accounts/logout/">Logout</a>
        </div>
    </div>
</section>

<main>
    <h1 id="title">Dashboard</h1>

    <section id="user-products">
        <div id="user-products-header">
            <h3 style="margin-right: 5px;">My Products</h3>
            <a class="add-btn" style="margin-left: 5px;"href="{% url 'market_page' %}"><img src="{%  static 'images/mas.png' %}" alt="" width="30" height="30"></a>
        </div>
        <div class ="user-product-table"id="products-user-list-name">
            <div class="user-product-table-titles">
                <p class="title-row" style="width:40%">Product</p>
                <p class="title-row" style="width:40%">Manufacturer</p>
                <p class="title-row" style="width:20%" >Stock</p>
            </div>
            {% for fertiliser in fertilisers %}
            <div class="product-table-nc">
                <p class="standard-row" style="width:40%" >{{ fertiliser.fertiliser }}</p>
                <p class="standard-row" style="width:40%">{{ fertiliser.fertiliser.manufacturer }}</p>
                <p class="standard-row" style="width:20%">{{ fertiliser.stock }} {{ fertiliser.fertiliser.units }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="user-applications">
        <div id="user-applications-header">
            <h3 style="margin-right: 5px;">My Applications</h3>
            <img id="add-btn-applications" class="add-btn" src="{% static 'images/mas.png' %}" alt="" width="30" height="30">
        </div>
        <div class="user-applications-table" id="application-table">
            {% for application in applications %}
            <div class="applications-table-nc">
                <p style="width:40%" >{{ application.field }}</p>
                <p style="width:40%" >{{ application.scheduled_date }}</p>
                <p style="width:20%" >{{ application.type }}</p>
            </div>
            {% endfor %}
        </div>

        <!--MODAL FORM NEW APPLICATION -->
        <div class="modal-form" id="modal-form">
            <div class="modal-content">
                <div class="modal-title">
                    <span id="modal-form-close" class="close">x</span>
                    <h3>New Application </h3>
                </div>
                <form id="form-new-application" action="">
                    {% csrf_token %}
                    <select name="fields" id="fields-dropdown">
                    {% for field in user.fields.all %}
                        <option value={{ field.id }}>{{ field.name }}</option>
                    {% endfor %}
                    </select>
                    <select name="type" id="type-dropdown">
                        <option value="Liquid">Liquid</option>
                        <option value="Solid">Solid</option>
                    </select>
                    <div id="application-inputs">
                        <div>
                        <label for="scheduled-date"></label>
                        <input id="scheduled-date" type="date" name="date">
                        </div>
                        <div id="volumQuantity-div">
                            <label for="volumQuantity">Volum (L):</label>
                            <input id="volumQuantity" type="text" name="volum">
                        </div>
                        <div class="product-select-div-group" id="product-selection">
                            <div class="product-select-div">
                                <label for="">Product:</label>
                                <select name="product-dropdown-1" id="product-select-1" style="width:150px;">
                                </select>
                                <label for="">Quantity</label>
                                <input type="text" id="quantity-product-1">
                                <img id="btn-add-item" class="btn-add-application" src="{% static 'images/mas.png' %}" alt="" width="20" height="20">
                            </div>
                        </div>
                    </div>
                    <button class="btn-submit "id="btn-applications-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>

    </section>

    </main>

<script>
    var liquidFertilisersNames = {{ liquidFertilisersNames|safe }}
    var liquidFertilisersIds = {{ liquidFertilisersIds|safe }}
    var solidFertilisersNames = {{ solidFertilisersNames|safe }}
    var solidFertilisersIds = {{ solidFertilisersIds|safe }}
</script>
<script src="{% static 'js/dashboard.js' %} "></script>
</body>
</html>